@import "tailwindcss";

@theme {
  --color-text-light: #404040;
  --color-text-extralight: #8e8484;
  --color-text-primary: #1d1d1f;
  --color-text-secondary: #f6f6f8;
  --color-background: #f5f5f7;
}

body {
  font-family: Helvetica, sans-serif;
}